body{
    /* background-image: url(backgrounds/bg1.jpg); */
/*     background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
*/ 
    margin: 0;
    p{
        color: white;   
    } 
     background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.type_write{
    overflow: hidden;
    border-right: .15em solid purple;
    width: 0;
    white-space: nowrap;
    animation: typing 2s steps(30, end) forwards,blink .8s infinite;
}
.type_container{
    display: inline-block;
    color: white;
}
@keyframes typing{
    from{ width: 0}
    to{ width: 100%}
}
@keyframes blink{
    from{ border-color: transparent}
    to{ border-color: purple;}
}
.img{
    padding-left: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
}
.img1{
    padding-left: 5px;
    border-radius: 9px;
}
.img1:hover{
    opacity: 0.5;
}
.marlyse img{
    padding-left: 5px;
    border-radius: 8px;
    opacity: 0.8;
    transition: .5s ease;
}
/* ------------------------------------------------------------ */
.marlyse img:hover{
   /* Remember to add a hover effect !! */
}
/* ------------------------------------------------------------ */
h2{
    text-align: center;
    color: black;
}
h3{
    text-align: center;
    color: white;
}
h1{
    color: white;
    font-size:300%;
}
.line{
    width: 85%;
    min-width: 50vh;
}
/* Initially hide the text */
.hidden-text {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.conclusion{
    background-color: aliceblue;
    p{
    color: black;

    }
   /*  border: solid #f53192; */
    border-radius: 7px;
    width: 70%;
    min-width: 50vh;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
      /* position :relative; causes issues with sticky navbars */
      position: relative;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.conclusion::after, .conclusion::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient( from var(--angle),transparent 25%,/* #95BFAC */  #4189A6, #590202, #8C5535, #4189A6,#D9AB91);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 9px;
    animation: 3s spin linear infinite;
}
.conclusion::before{
    --angle:0;
    filter: blur(1.5rem);
    opacity: 0.9;
}
@keyframes spin{
    from{
        --angle:0deg;
    }to{
        --angle:360deg;
    }
} 
.conclusion p{
    text-align: center;
}
.blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-wrap: wrap;
    justify-self: center;
    align-self: center;
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
.blocks .one{
    display: flex;
    flex-direction: column;
    min-width: 150px;
    width: 230px;
    height: 35%;
    padding-bottom: 60px;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    background-color: aliceblue;
    border-radius: 6px;
    text-align: center;
    margin: 7px;
    p{
        color: black;
    }
/*     box-shadow: 0 5px 5px 1px rgb(255, 26, 26, 0.22);
 */    transition: transform .8s;
}

.blocks .one:hover{
    box-shadow: 0 13px 13px 12px rgb(255, 26, 26, 0.22);
    transform: scale(1.1);
}
.blocks .one img{
    width: 50px;
    height: 50px;
    background-color: #ffe0e5;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin: 10px 0 0 7px;
}
.blocks .one h2{
    margin: 7px 0 0 0;
    display: flex;
    justify-content: flex-start;
}
/* 
    .content{
        background-color: rgb(63, 87, 109);
        height: 50%;
        width: 50%;
        padding: 0 10px 0 10px;
        border-radius: 9px;
        display: flex;
        text-wrap: wrap;
        flex-direction: column;   
    } */
.img2{
    height: 250px;
    width: 200px;
} 
.img2-3{
    height: 319px;
    width: 310px;
}
/* .principal{
    margin-left: 40px;
    display: flex;
    height: 230px;
    width: 600px;
    border-radius: 9px;
    background-color: #353935;
    color: aliceblue;
    .principal-1{
        width: 25%;
        img{
            width: 100%;
            height: 100%;
        }    
    }
    .principal-2{
        width: 60%;
        font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        p{
           margin-left: 30px;
           margin-bottom: 0;
           width: auto;
        }
        
    }
}
 */

.rubik-vinyl-regular {
    font-family: "Rubik Vinyl", serif;
    font-weight: 410px;
    font-style: normal;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-wrap: nowrap;
}
.title{
    width: 80%;
}
.marlyse{
 /*    border: SOLID blue; */
    max-width: 830px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
 /*    justify-self: center; */
    justify-content: space-between;
}
.marlyse img{
    border-radius: 7px;
}
.marlyse div{
    margin-top: 5px;
    margin-bottom: 5px;
}
.zone-text{
    color: white;
    text-wrap: wrap;
    width: 95%;
}
.zone-1{
    display: flex;
    width: 80%;
    min-width: 500px;
    max-width: 700px;
    .section_1{
        width: 72%;
    }
    
}
.g1{
    width: 100%;
}
.zone-2{
    display: flex;
    flex-wrap: wrap;
    min-width: 600px;
    max-width: 800px;
    width: 90%;
    border-top: solid gray;
    border-style: dashed;
  
    .zone-22{
        width: 50%;
        min-width: 535px;
        max-height: 325px;
    }
    .title2{
        max-height: 310px;
        max-width: 200px;
        color: white;
        width: 50%;
        text-wrap: wrap;
    }
}
.zone-2 p{
    color: white;
} 
.zone-22{
    display: flex;
    max-height: "300px";   
    p{
        color: white;
    }
   .title1{
        width: 40%;
        color: white;
   }
   .picture-2{
    width: 30%;
   }
}
.zone-1 .picture{
    align-items: flex-end;
    align-self: flex-end;
}
.picture .img2-1{
    width: 95%;
    min-width: 290px;
    min-height: 140px;
    max-width: 700px;
}
.picture-2 .img2-2{
    height: 100%;
    width: 50%;
    min-width: 208px;
}
.zone31{
    .title3{
        color: white;
    }
    display: flex;
    flex-direction: column;
    margin-top: 0;

    .zone{
        margin-top: 0;
    }
    width: 210px;
}
.head_1 h1{
    font-family: Garamond, serif;
    border-top: solid gray;
    border-left: black;
    border-right: black;
    border-bottom: black;
    border-style: dashed;
    margin-bottom: 0;
    margin-top: 0;
     color: white;
}
.zone32{
    display: flex;
    flex-direction: column;
    p{
    color: white;
    }
}
.zone32-1{
    display: flex;
    border-left: solid gray;
    border-top: solid gray;
    border-style: dashed;
    .text{
        max-width: 400px;
        min-width: 250px;
        padding-left: 10px;
    }
}
.zone-3{
    display: flex;
    width: 80%;
}
.zone .head_2 h1{
    font-family: Garamond, serif;
    margin-bottom: 0; 
    margin-top: 10px;  
}
.division{
    width: 80%;
    min-width: 50vh;
    color: palevioletred;
    float: right;
}
.zone32-2{
    border-top: solid gray;
    border-style: dashed;
}
.zone32-2 .text{
    max-width: 600px;
}