body{
    background-image: url(lulu_new.jpg);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.type_write{
    overflow: hidden;
    border-right: .15em solid purple;
    width: 0;
    white-space: nowrap;
    animation: typing 2s steps(30, end) forwards,blink .8s infinite;
}
.type_container{
    display: inline-block;
}
@keyframes typing{
    from{ width: 0}
    to{ width: 100%}
}
@keyframes blink{
    from{ border-color: transparent}
    to{ border-color: purple;}
}
.img{
    padding-left: 30px;
    text-align: center;
    border-top: 4px dashed palevioletred;
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
}
.img1{
    padding-left: 5px;
    border-radius: 4px;
}
.img1:hover{
    opacity: 0.5;
}
.img2{
    padding-left: 5px;
    border-radius: 8px;
    transition: .5s ease;
}
.img2:hover{
    opacity: 0.8;
}
img .img2{
    background-image: url(planet.png);
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
hr{
    width: 85%;
}
/* Initially hide the text */
.hidden-text {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.conclusion{
    border: solid red;
    border-radius: 7px;
    width: 70%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
